.account{
    border-top: 1px ridge rgb(220,220,220);
    padding:0;
}

.stage-col{
  border-right: 1px ridge #dcdcdc;
  border-bottom: 1px ridge #dcdcdc;
  min-height: 89vh;
  background-color: rgb(252, 252, 251);
  padding: 0;
  padding-bottom: 1rem;
}

.stage-col:last-child {
  border-right: none;
}

@media (max-width: 960px) {
    .OutreachSequencesPanel, .account{
        width:150%;
        overflow: auto;
    }
}

@media (max-width: 600px) {
    .OutreachSequencesPanel, .account{
        width:320%;
    }
}

@media (max-width: 400px) {
  .OutreachSequencesPanel, .account{
      width:380%;
  }
}

/* width */
.OutreachSequencesPanel::-webkit-scrollbar {
    width: 20px;
}

/* Track */
.OutreachSequencesPanel::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
}

/* Handle */
.OutreachSequencesPanel::-webkit-scrollbar-thumb {
    background: rgba(0, 26, 183,0.7);; 
    border-radius: 10px;
}

.divider{
    margin-bottom: 30px !important;
  }